.img1{
    width: 100%;
    /* height: 300px;
    object-fit: contain;
    object-position:top ;
    border-color: red;
    border-width: 2px;
    border-style: solid; */
 }
 
  .video-title{
    font-weight: bold;
    margin-bottom: 6px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

 }
  .video-author,
  .views{
    color: rgb(94, 94, 94);
    margin-bottom: 0px;
    font-size: 12px;
 }
 .video-author{
   margin-bottom: 4px;
 }

.video-info-grid{
   display: grid;
   grid-template-columns: 50px 1fr;
}
.video-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
   
 }

.channel-picture{
   width: 50px;
}
.video-info{
   width: 200px;
}
.profile-picture{
   width: 40px;
   border-radius: 50px;
   
  
}
.video-title{
   margin-top: 0px;
   font-size: 14px;
   font-weight: 700;
   line-height: 18px;
   margin-bottom: 12px;
}
.thumbnail-row{
   margin-bottom: 12px;

}